<nav>
	<%= link_to 'Private Events', root_path %>
	<% if current_user != nil%>
		<%= link_to 'Profile', user_path(current_user.id) %>
	<% else %>
		<%= link_to 'Sign in', new_user_session_path %>
	<% end %>
</nav>